<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Home | Blogs</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="container flex justify-between align-center">
        <a href="#">Blog</a>
        <h1>Abhishek S. Rathore</h1>
      </div>
    </header>
    <!--Main-->
    <main class="index">
      <div class="container">
        <section class="hero flex justify-around align-center">
          <div class="img-container font-0">
            <img class="full-width" src="/images/Blog-Logo.jpg" alt="Blog" />
          </div>
          <div>
            <a class="btn btn-primary" href="/blogs">Go To Blogs</a>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
