<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Document</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="#"> <span>E</span>lib</a>
        <a href="#"><h3>Library</h3></a>
      </div>
    </header>
    <!--Main-->
    <main class="home">
      <section class="hero container flex justify-between align-center">
        <div class="flex-48 flex justify-center align-center flex-column">
          <div><img src="/images/logo.png" alt="E-Library" /></div>
          <p style="font-size: 1.5rem; margin-top: 1rem">
            <span style="font-family: 'Tourney', cursive">
              <span style="color: rgb(255, 115, 0)">E</span>lib</span
            >
            is the best online collection of world's best Books!
          </p>
        </div>
        <div class="flex-48 flex justify-center align-center">
          <a href=""
            ><button style="color: white" class="btn btn-primary">
              Start Reading
            </button></a
          >
        </div>
      </section>
    </main>
  </body>
</html>
